Repository LACE-Team/lace-repo, pull requests merged in 2018-10, with the labels that each got.

#76 user dash stuff
  client/src/App.js
  client/src/components/Landing.js
  client/src/components/Navbar.js
  client/src/components/UserDash.js
  client/src/components/userStyle.css
  client/src/fakedata.js
  client/yarn.lock
Labels: Front-End

#85 Google Oauth setup done on the backend
  .env
  .gitignore
  README.md
  client/public/Loading-Eclipse-1s-200px.svg
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/src/App.js
  client/src/components/Footer.js
  client/src/components/Landing.js
  client/src/components/Navbar.js
  client/src/components/SearchBar.js
  database/models/User.js
  database/scraping/Bills.js
  database/scraping/Hansard.js
  database/scraping/MPPurls.js
  database/scraping/eachMPP.js
  package.json
  routes/authRoutes.js
  server.js
  services/passport.js
  yarn.lock
Labels: Authentication, Back-End, Database, Passport

#88 forgot to add oauth logout function
  .gitignore
  config/keys.js
  config/prod.js
  config/thisFolder.txt
  routes/authRoutes.js
  services/passport.js
Labels: Authentication, Passport

#101 merging my code
  API/API.js
  client/package.json
  client/src/App.js
  client/src/actions/index.js
  client/src/actions/types.js
  client/src/components/GenDash.js
  client/src/components/Landing.js
  client/src/components/Navbar.js
  client/src/components/SearchBar.js
  client/src/components/SelectedDash.js
  client/src/components/UserDash.js
  client/src/components/dashComponents/Mppinfo.js
  client/src/components/dashComponents/NewsFeed.js
  client/src/components/dashComponents/SpeechFeed.js
  client/src/components/dashComponents/VotingRecords.js
  client/src/index.js
  client/src/reducers/authReducer.js
  client/src/reducers/index.js
  client/src/utils/API.js
  client/yarn.lock
  middlewares/requireLogin.js
  package-lock.json
  routes/authRoutes.js
  routes/mppRoutes.js
  server.js
Labels: Authentication, Back-End, Front-End
